.app {
    margin: auto;
	display:flex;
	justify-content: center;
 	flex-wrap: wrap;
 	align-items: flex-end;
	width: 100%;
	max-width: 500px;
	height: calc(100vh - 100px);
	padding: 50px 0;
    .container {
        width: 100%;
        .messages {
            flex: 1 1 100%;
            margin-bottom: 100px;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            overflow-y: scroll;
            max-height: calc(100vh - 475px);
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .formulaire {
            bottom: 0px;
        }
    }
}


