.message {
  background: #2295f5;
  position: relative;
  margin-top: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 75%;
  padding: 5px 10px;
}

.message::after {
  content: " ";
  background: #2295f5;
  position: absolute;
  display: block;
  bottom: -7px;
  right: 12px;
  border-width: 0 10px 7px 0;
  border-style: solid;
  border-color: white transparent;
}

.message .user-message {
  color: white;
  margin: 5px 10px;
}
